*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body{
	widows: 100%
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.instagram-wrapper{
	display: flex; /*é sempre inline*/
	align-items: center; /*Alinhamento vertical dos itens*/
	justify-content: start; /* inline */
	/* justify e align tem propriedades própias
	que realizam organizações diferentes dentro
	dos espaços do container.				 */
	width: 60%; /*Em relação ao body*/
	height: 100vh;	
}

.instagram-phone{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.instagram-phone img {
	height: 34rem;
}

.instagram-continue{
	display: flex;
	align-items: center;
	justify-content: space-around; /*Flex direction é uma propiedade que altera a direção do flex.*/
	flex-direction: column;		   /*Justify conten agora está na vertical e o align itens está na horizontal*/
	width: 50%;
	min-height: 34rem;
}

.group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: #ffffff;
	width: 100%;
	padding: 1.3rem 0;
	border: 1px solid lightgray;
}

.group:nth-child(1) {
	min-height: 19rem;
}

.instagram-logo{
/*	height: 50%;
	width: 50%;*/
	height: 4rem;
}

.profile-photo{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden; /* Utilizado para que a imagem não exceda o tamanho da div para fora*/
}

.profile-photo img{
	height: 6rem;
}

.instagramLogin{
	background-color: #0095f6;
	color: #ffffff;
	padding: 8px;
	border-radius: 4px;
}

.instagramLogout{
	color: #0095f6;
	margin-top: 1rem;
}

.not-account{
	color: rgb(160,160,160);
}

.link-blue{
	color: #0095f6;
}

.get-the-app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.3rem;
}

.get-app{
	text-align: center;
}

.download{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.appDownload{
	height: 3rem;
	width: 10rem;
	background-size: cover;
}

.appDownload:nth-child(1){
	background-image: url(./img/apple-download.svg);
	background-repeat: no-repeat;
	background-size: auto;
	height: 3rem;
	width: 10rem;
}
.appDownload:nth-child(2){
	background-image: url(./img/google-download.png);
	background-repeat: no-repeat;
	background-size: 98%;
	height: 3.2rem;
	width: 10rem;
	position: relative;
    left: 28px;
}

/* media queries */

@media (max-width: 1024px){
	.instagram-wrapper{
		width: 90%;
	}
}

@media (max-width: 650px){
	body{
		background-color: #ffffff;
	}

	.group{
		border: 1px solid transparent;
	}

	.instagram-wrapper{
		width: 90%;
	}

	.instagram-phone{
		display: none;
	} 

	.instagram-continue{
		width: 100%;
	}
}
